.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1119px;
  margin: 50px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 390px;
  height: 390px;
  background-image: url("images/MartiJIMENEZ2.png");
  background-position: 50% 50%;
  margin: 21px 57px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -344px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  font-family: Raleway, sans-serif;
  margin: 57px 538px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
  margin: 92px auto 0 0;
  padding: 19px 132px 19px 131px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 35px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -358px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 424px;
    font-family: Montserrat, sans-serif;
  }

  .u-section-1 .u-btn-1 {
    padding: 17px 131px 17px 130px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-1 .u-image-1 {
    width: 308px;
    height: 308px;
    margin-top: 76px;
    margin-right: -12px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -318px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 325px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 66px;
    margin-bottom: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 697px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 302px;
    height: 302px;
    margin-top: 91px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -374px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 362px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 66px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-1 {
    width: 303px;
    height: 303px;
    margin-top: 87px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    margin-top: -390px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 380px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 41px;
    padding-right: 102px;
    padding-left: 101px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 373px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  margin: 21px auto 0 0;
}

.u-section-2 .u-blog-1 {
  margin-bottom: 40px;
  margin-top: 21px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 251px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  font-style: italic;
  margin: 10px 10px 0 auto;
}

.u-section-2 .u-image-1 {
  height: 90px;
  width: 92px;
  margin: -19px auto 0 15px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 14px 22px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 24px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  font-style: italic;
  margin: 10px 10px 0 auto;
}

.u-section-2 .u-image-2 {
  height: 90px;
  width: 92px;
  margin: -19px auto 0 15px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 14px 22px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 24px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  font-size: 1.25rem;
  font-style: italic;
  margin: 10px 10px 0 auto;
}

.u-section-2 .u-image-3 {
  height: 90px;
  width: 92px;
  margin: -19px auto 0 15px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 14px 22px 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 24px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  font-size: 1.25rem;
  font-style: italic;
  margin: 10px 10px 0 auto;
}

.u-section-2 .u-image-4 {
  height: 90px;
  width: 92px;
  margin: -19px auto 0 15px;
}

.u-section-2 .u-text-12 {
  font-size: 1.5rem;
  margin: 14px 22px 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 24px auto 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 14px;
  width: 40px;
  height: 40px;
  top: 106px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 106px;
  right: 14px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 216px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -204px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: 239px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 54px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 216px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -204px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    width: 239px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 54px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 216px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: -204px;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    width: 239px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 54px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 216px;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: -204px;
    margin-left: auto;
  }

  .u-section-2 .u-text-12 {
    width: 239px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 54px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-gallery-nav-1 {
    left: 17px;
    top: 17px;
  }

  .u-section-2 .u-gallery-nav-2 {
    top: 17px;
    right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-text-2 {
    margin-top: 268px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -278px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 268px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -278px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 268px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -278px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 268px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -278px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-13 {
    margin-top: -107px;
  }

  .u-section-2 .u-gallery-nav-1 {
    left: 14px;
    top: 142px;
  }

  .u-section-2 .u-gallery-nav-2 {
    top: 142px;
    right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.375rem;
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 27px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 27px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 27px;
  }

  .u-section-2 .u-gallery-nav-1 {
    top: 14px;
  }

  .u-section-2 .u-gallery-nav-2 {
    top: 269px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/2d521db8f019ea7781a6c99257935597652aef70beafcbbc5c9c00ce0e73e50e28723d3d564450672e5090975b56bffc0757623916ab5ffadb9b80_12801.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 300px;
}

.u-section-3 .u-text-1 {
  font-weight: 800;
  font-size: 3.75rem;
  text-shadow: 0px 0px 12px rgba(255,255,255,0.45);
  margin: 84px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  font-weight: 600;
  font-family: Raleway, sans-serif;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 471px;
}

.u-section-4 .u-product-1 {
  min-height: 441px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 0 30px;
}

.u-section-4 .u-image-1 {
  width: 538px;
  height: 389px;
  margin: 30px 30px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 512px;
  min-height: 406px;
  margin: -389px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-4 .u-group-2 {
  width: 85px;
  min-height: 30px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 800;
  font-size: 0.875rem;
  margin: 7px auto 0;
}

.u-section-4 .u-group-3 {
  width: 103px;
  min-height: 30px;
  margin: -30px auto 0 95px;
}

.u-section-4 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 800;
  font-size: 0.875rem;
  margin: 7px -1px 0;
}

.u-section-4 .u-group-4 {
  width: 90px;
  min-height: 30px;
  margin: -30px auto 0 208px;
}

.u-section-4 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 800;
  font-size: 0.875rem;
  margin: 7px auto 0;
}

.u-section-4 .u-group-5 {
  width: 93px;
  min-height: 30px;
  margin: -30px 111px 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 800;
  font-size: 0.875rem;
  margin: 7px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 26px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  font-family: "IBM Plex Mono";
  text-transform: none;
  margin: 65px auto 0 0;
  padding: 9px 49px 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-4 .u-product-1 {
    min-height: 401px;
    height: auto;
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 422px;
    height: 375px;
    margin-top: 19px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 499px;
    min-height: 395px;
    margin-top: -394px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-5 {
    margin-right: 98px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 15px;
    margin-right: 14px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-4 .u-product-1 {
    min-height: 510px;
    margin-bottom: 38px;
  }

  .u-section-4 .u-image-1 {
    width: 330px;
    height: 417px;
    margin-top: 59px;
  }

  .u-section-4 .u-group-1 {
    width: 360px;
    min-height: 491px;
    margin-top: -457px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-4 .u-group-2 {
    margin-top: 18px;
    margin-left: 40px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 135px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 10px;
    margin-right: 94px;
    margin-left: auto;
  }

  .u-section-4 .u-group-5 {
    margin-right: auto;
    margin-left: 76px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 28px;
    margin-left: 40px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 40px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-4 .u-product-1 {
    min-height: 836px;
  }

  .u-section-4 .u-image-1 {
    height: 458px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    margin-left: 28px;
  }

  .u-section-4 .u-group-3 {
    margin-top: -33px;
    margin-left: 131px;
  }

  .u-section-4 .u-group-4 {
    margin-top: -31px;
    margin-right: 87px;
  }

  .u-section-4 .u-group-5 {
    margin-right: 195px;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-4 .u-product-1 {
    min-height: 756px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 262px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    margin-top: 24px;
    min-height: 469px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    margin-top: 1px;
    margin-left: 16px;
  }

  .u-section-4 .u-group-3 {
    margin-top: -31px;
    margin-left: 113px;
  }

  .u-section-4 .u-group-4 {
    margin-top: -30px;
    margin-right: 24px;
  }

  .u-section-4 .u-group-5 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 10px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 16px;
    margin-left: auto;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/2d521db8f019ea7781a6c99257935597652aef70beafcbbc5c9c00ce0e73e50e28723d3d564450672e5090975b56bffc0757623916ab5ffadb9b80_12801.png");
}

.u-section-5 .u-sheet-1 {
  min-height: 80px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 60px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 470px;
}

.u-section-6 .u-product-1 {
  min-height: 462px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 568px;
  height: 389px;
  margin: 31px auto 0 15px;
}

.u-section-6 .u-group-1 {
  width: 512px;
  min-height: 407px;
  margin: -389px 15px 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 14px 0 30px;
}

.u-section-6 .u-group-2 {
  width: 85px;
  min-height: 30px;
  margin: 2px auto 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 800;
  font-size: 0.875rem;
  margin: 7px auto 0;
}

.u-section-6 .u-group-3 {
  width: 90px;
  min-height: 30px;
  margin: -32px auto 0 95px;
}

.u-section-6 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 800;
  font-size: 0.875rem;
  margin: 7px -1px 0;
}

.u-section-6 .u-group-4 {
  width: 110px;
  min-height: 30px;
  margin: -30px 117px 0 auto;
}

.u-section-6 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-weight: 800;
  font-size: 0.875rem;
  width: 71px;
  margin: 7px auto 0;
}

.u-section-6 .u-group-5 {
  width: 80px;
  min-height: 30px;
  margin: -30px auto 0 195px;
}

.u-section-6 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-6 .u-text-4 {
  font-weight: 800;
  font-size: 0.875rem;
  margin: 7px auto 0;
}

.u-section-6 .u-group-6 {
  width: 90px;
  min-height: 30px;
  margin: -30px 17px 0 auto;
}

.u-section-6 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 800;
  font-size: 0.875rem;
  margin: 7px -1px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-6 .u-btn-1 {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
  margin: 19px auto 0 0;
  padding: 10px 29px 10px 28px;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  font-family: "IBM Plex Mono";
  text-transform: none;
  margin: -44px 0 0 auto;
  padding: 9px 49px 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-6 .u-product-1 {
    min-height: 432px;
    height: auto;
    margin-top: 37px;
  }

  .u-section-6 .u-image-1 {
    width: 440px;
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    width: 485px;
    min-height: 401px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 3px;
  }

  .u-section-6 .u-group-3 {
    margin-top: -33px;
    margin-left: 92px;
  }

  .u-section-6 .u-group-4 {
    margin-right: 186px;
  }

  .u-section-6 .u-group-5 {
    margin-right: 99px;
    margin-left: auto;
  }

  .u-section-6 .u-group-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 37px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -45px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-6 .u-product-1 {
    min-height: 516px;
    margin-top: 38px;
  }

  .u-section-6 .u-image-1 {
    width: 330px;
    height: 417px;
    margin-top: 0;
  }

  .u-section-6 .u-group-1 {
    width: 360px;
    min-height: 503px;
    margin-top: -417px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 41px;
    margin-right: 92px;
    margin-left: auto;
  }

  .u-section-6 .u-group-3 {
    margin-top: -69px;
    margin-left: 135px;
  }

  .u-section-6 .u-group-4 {
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-6 .u-group-5 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 83px;
  }

  .u-section-6 .u-group-6 {
    margin-top: -69px;
    margin-right: 35px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 47px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 19px;
    margin-left: -319px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-6 .u-product-1 {
    min-height: 1004px;
  }

  .u-section-6 .u-image-1 {
    height: 458px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-2 {
    margin-top: 0;
    margin-right: 102px;
  }

  .u-section-6 .u-group-3 {
    margin-top: -30px;
    margin-left: 145px;
  }

  .u-section-6 .u-group-5 {
    margin-top: -30px;
    margin-right: 206px;
    margin-left: auto;
  }

  .u-section-6 .u-group-6 {
    margin-top: 350px;
    margin-left: 145px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -340px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 32px;
  }

  .u-section-6 .u-btn-1 {
    border-style: none;
    letter-spacing: 0px;
    margin-top: 57px;
    margin-left: 20px;
    padding-top: 9px;
    padding-right: 24px;
    padding-left: 22px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-6 .u-product-1 {
    min-height: 766px;
    margin-top: 17px;
    margin-bottom: 9px;
  }

  .u-section-6 .u-image-1 {
    height: 262px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    margin-top: 19px;
    min-height: 483px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-6 .u-group-2 {
    margin-top: 37px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-6 .u-group-3 {
    margin-top: -67px;
    margin-right: 111px;
    margin-left: auto;
  }

  .u-section-6 .u-group-4 {
    margin-left: 19px;
  }

  .u-section-6 .u-group-5 {
    margin-top: 6px;
    margin-right: 75px;
  }

  .u-section-6 .u-group-6 {
    width: 95px;
    margin-top: -66px;
    margin-right: 6px;
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 10px;
    margin-right: auto;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/2d521db8f019ea7781a6c99257935597652aef70beafcbbc5c9c00ce0e73e50e28723d3d564450672e5090975b56bffc0757623916ab5ffadb9b80_12801.png");
}

.u-section-7 .u-sheet-1 {
  min-height: 80px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 60px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 471px;
}

.u-section-8 .u-product-1 {
  min-height: 441px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-8 .u-image-1 {
  width: 577px;
  height: 389px;
  margin: 30px 0 0 auto;
}

.u-section-8 .u-group-1 {
  width: 512px;
  min-height: 407px;
  margin: -394px auto 0 1px;
}

.u-section-8 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-8 .u-group-2 {
  width: 85px;
  min-height: 30px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 800;
  font-size: 0.875rem;
  margin: 7px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 26px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  font-family: "IBM Plex Mono";
  text-transform: none;
  margin: 64px auto 0 0;
  padding: 9px 49px 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-8 .u-product-1 {
    min-height: 445px;
    height: auto;
    margin-bottom: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-8 .u-image-1 {
    width: 440px;
    margin-right: 8px;
  }

  .u-section-8 .u-group-1 {
    width: 470px;
    min-height: 410px;
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-8 .u-group-2 {
    margin-top: 1px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-right: 30px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-8 .u-product-1 {
    min-height: 477px;
  }

  .u-section-8 .u-image-1 {
    width: 330px;
    height: 417px;
  }

  .u-section-8 .u-group-1 {
    width: 360px;
    margin-top: -417px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-8 .u-product-1 {
    min-height: 836px;
    margin-top: 30px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-8 .u-image-1 {
    height: 458px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-8 .u-product-1 {
    min-height: 746px;
    margin-bottom: 16px;
  }

  .u-section-8 .u-image-1 {
    height: 262px;
    width: 100%;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    min-height: 430px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-2 {
    margin-top: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: auto;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/2d521db8f019ea7781a6c99257935597652aef70beafcbbc5c9c00ce0e73e50e28723d3d564450672e5090975b56bffc0757623916ab5ffadb9b80_12801.png");
}

.u-section-9 .u-sheet-1 {
  min-height: 80px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    background-position: 50% 50%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 60px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-10 .u-layout-wrap-1 {
  width: 570px;
  margin: 60px auto 0 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 714px;
}

.u-section-10 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-10 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 89px 42px 0 20px;
}

.u-section-10 .u-text-3 {
  margin: 60px 30px 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 105px auto 0 140px;
  padding: 15px 61px 17px 60px;
}

.u-section-10 .u-icon-1 {
  font-size: 1.5em;
  margin-left: 0;
  vertical-align: 0px;
  padding: 1px;
}

.u-section-10 .u-image-1 {
  width: 469px;
  height: 466px;
  margin: -631px 60px 165px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 470px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.625rem;
    width: auto;
    margin-top: 53px;
    margin-right: 23px;
    margin-left: 26px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: 52px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 144px;
    margin-left: auto;
  }

  .u-section-10 .u-image-1 {
    height: 467px;
    margin-top: -567px;
    margin-right: -29px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 749px;
    margin-right: -29px;
    margin-left: auto;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 674px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 115px;
    margin-right: 328px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 100px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 76px;
  }

  .u-section-10 .u-image-1 {
    width: 279px;
    height: 278px;
    margin-top: -674px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 145px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    width: 155px;
    height: 155px;
    margin-top: -635px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    width: 116px;
    height: 117px;
    margin-top: -634px;
  }
}

.u-block-734e-16:not([data-block-selected]):not([data-cell-selected]),
.u-block-734e-16:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-734e-16:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-734e-16:not([data-block-selected]):not([data-cell-selected]).u-block-734e-16:not([data-block-selected]):not([data-cell-selected]).u-block-734e-16:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-734e-16:not([data-block-selected]):not([data-cell-selected]).u-block-734e-16:not([data-block-selected]):not([data-cell-selected]).u-block-734e-16:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-734e-16:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-734e-16:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/97421516ced7cb8c85aa700f0d6aa98dc80d9cd4abec8d0d30b4ec347400155db191aaa97924a34e248995955d56626aea236267588606f1a7592f_1280.jpg");
  min-height: 100vh;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1140px;
  margin: 69px auto 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-11 .u-container-layout-1 {
  box-shadow: 0 0 26px 13px rgba(128,128,128,0.2);
  padding: 30px;
}

.u-section-11 .u-text-1 {
  margin-top: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 800;
}

.u-section-11 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-11 .u-form-1 {
  margin: 30px auto 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
}

.u-section-11 .u-group-1 {
  min-height: 42px;
  margin-top: 119px;
  margin-bottom: 0;
}

.u-section-11 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-11 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
   .u-section-11 {
    background-position: 50% 50%;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 101px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-11 .u-group-1 {
    margin-top: 155px;
    min-height: 53px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-group-1 {
    margin-top: 139px;
    min-height: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 80px;
    margin-left: auto;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 31px;
  }

  .u-section-11 .u-group-1 {
    margin-top: 128px;
    min-height: 75px;
  }

  .u-section-11 .u-container-layout-2 {
    padding: 30px 10px;
  }

  .u-section-11 .u-text-3 {
    width: 188px;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 855px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 29px;
    padding-left: 30px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
  }
}