* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
}

@font-face {
    src: url("fonts/static/Raleway-Bold.ttf");
    font-family: Rbold;
}
@font-face {
    src: url("fonts/static/Raleway-Light.ttf");
    font-family: Rlight;
}
@font-face {
    src: url("fonts/static/Raleway-Medium.ttf");
    font-family: Rmedium;
}
@font-face {
    src: url("fonts/static/Raleway-Regular.ttf");
    font-family: Rregular;
}
@font-face {
    src: url("fonts/static/Raleway-SemiBold.ttf");
    font-family: Rsemibold;
}
@font-face {
    src: url("fonts/static/Raleway-Thin.ttf");
    font-family: Rthin;
}

body {
    background-color: black;
}
#home {
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0);
    color: white;
}

#portfolio {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

#contact {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}


/*------------------------------------------
                HOME STYLE
--------------------------------------------*/
/*headbar style*/
#headbar {
    width: 90%;
    background-color: rgb(27,27,27);
    color: rgb(156,156,156);
    margin-left: 5%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    -webkit-transition: 0.6s; 
    transition: 0.6s; 
}

#headbar:hover{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(28,28,28);
}


/**/
#navbtn {
    width: 75%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#separator {
    width: 5%;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

#contactpic {
    width: 15%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
/**/
.headbtn {
    color: white;
    opacity: 50%;
    text-decoration: none;
    font-size: 120%;
    font-family: Rmedium;
}
.headbtn:hover {
    color: white;
    opacity: 80%;
}
#homebtn {
    margin-right: 20%;
}
#portfoliobtn {
    margin-right: 20%;
}

/**/
#separatorpic {
    height: 25px;
    opacity: 50%;
    margin-left: 0;
}

/**/
#gitpica {
    margin-right: 20%;
}
#linkedinpica {
    margin-right: 20%;
}
#instpica {
    margin-right: 60%;
}
#imggit {
    width: 20px;
    opacity: 50%;
}
#imggit:hover {
    opacity: 80%;
}
#imglinkedin {
    width: 20px;
    opacity: 50%;
}
#imglinkedin:hover {
    opacity: 80%;
}
#imginst {
    width: 20px;
    opacity: 50%;
}
#imginst:hover {
    opacity: 80%;
}

/*presentation style*/
#homepres {
    background-color: transparent;
    border-radius: 20px;
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-top: 1.6%;
    display: flex;
    flex-direction: row;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlysupported by Chrome, Edge, Opera and Firefox */
}
#presentationtext{
    background-color: transparent;
    width: 60%;
    height: 100%;
    border-radius: 20px;
}
#presentationimg {
    background-color: rgba(255, 255, 255, 0.2);
    width: 40%;
    height: 100%;
    clip-path: circle(47.5% at 50% 50%);
    display: flex;
    justify-content: center;
}
#pfp {
    width: 71%;
    object-fit: cover;
    object-position: center;
}

#name{
    font-family: Rbold;
    font-size: 60px;
    background-color: transparent;
    height: 30%;
    margin-top: 10%;
}
#hometext{
    font-family: Rmedium;
    font-size: 20px;
    text-align: justify;
    background-color: transparent;
    height: 20%;
    width: 85%;
    margin-top: -4%;
}
#getintouch{
    font-family: Rmedium;
    font-size: 30px;
    background-color: transparent;
    height: 20%;
    width: 60%;
    border-radius: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    
}
#getintouch:hover{
    height: 21%;
    width: 61%;
    margin-top: 4.6%;
    margin-left: -0.5%;
    background-color: rgba(255, 255, 255, 0.12);
}
#getintouchbtn{
    font-family: Rmedium;
    font-size: 30px;
    background-color: rgba(255, 0, 0, 0.45);
    color: white;
    width: 100%;
    border-radius: 20px;
    border-style: none;
}


/*Formation presentation style*/
#formation {
    background-color: transparent;
    width: 95%;
    height: 25%;
    margin-left: 2.5%;
    margin-top: 0%;
    border-radius: 20px;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#titre-formation {
    font-family: Rmedium;
    background-color: transparent;
    font-size: 2.5vh;
    border-radius: 5px;
    padding-bottom: 6px;
}
#scrolling-formation{
    background-color: rgba(255, 255, 255, 0);
    padding-top: 7px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#scrolling-formation:hover {
    background-color: rgba(255, 255, 255, 0);
    overflow-x: scroll;
    overflow-y: hidden;
}
#scrolling-formation::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  }
#scrolling-formation::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.115);
    border-radius: 10px;
  }
#scrolling-formation::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #520909, #da0d0d);
    border-radius: 10px;
}
.card{
    flex: 0 0 auto;
    background-color: black;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    height: 18vh;
    width: 29%;
    margin-left: 1.5%;
    margin-top: 0px;
    margin-bottom: 6px;
    border: solid;
    border-color: white;
    border-width: 2px;
    -webkit-transition: 1.8s; /* For Safari 3.0 to 6.0 */
    transition: 1.8s; /* For modern browsers */
}
.card:hover{
    border-color: #520909;
    -webkit-transition: border-color 0.2s; /* For Safari 3.0 to 6.0 */
    transition: border-color 0.2s; /* For modern browsers */
}
#first-card{
    margin-left: 0px;
}
#lycee-card .card-text .date-card{
    margin-top: 18px;
    margin-left: 245px;
}
.card-img{
    margin-top: 6%;
    margin-left: 15px;
    pointer-events: none;
}
#insa-img{
    width: 80px;
    background-color: white;
    border-radius: 3px;
}
#cardiff-img{
    width: 80px;
    border-radius: 3px;
}
.card-text{
    padding: 5px;
    -webkit-transition: 4s; /* For Safari 3.0 to 6.0 */
    transition: 4s; /* For modern browsers */
    
}
.title-card{
    background-color: transparent;
    font-family: Rmedium;
    font-size: 26px;
    margin-left: 10px;
}
.description-card{
    background-color: transparent;
    font-family: Rmedium;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
.date-card{
    background-color: transparent;
    font-family: Rlight;
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-left: 170px;
}
