body {
    background: linear-gradient(170deg, rgba(2,0,36,1) 37%, rgba(130,24,66,1) 68%, rgba(255,137,41,1) 100%);
    transition: all 1s;
}
* {
    font-family: 'Audiowide', Regular;
    
}


#centre {

    border-radius: 20px;
    margin: 0 auto;
    width: 350px;

}


#victoire{

    color:white; 
    border-radius: 15px;
    background-color: transparent;
    margin-top: 10%;
    padding: 0px;
    text-align: center;
    font-size: large;


}

#mot{
    display: flex;
    justify-content: center;
    color:white; 
    padding: 10px;
    border-radius: 90px;
    background-color: #821842;
    margin-top: 10%;
    text-align: center;
    font-size: large;
    max-width: 80%;

}


#liste_30{

    color:rgb(243, 235, 235); 
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;

}

#rejouer{

    border-radius: 120px; 
    padding: 8px; 
    margin-right: 3%;
    display: flex;
    justify-content: center;

}

#created {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

footer {
    background-color: transparent;
    position: absolute;
    bottom: -150px;
    width: 50%;
    height: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.footer-txt {
    padding-right: 1ch;
    font-style: normal;
    color: #ff8929;

}

.footer-link {
    padding-right: 1ch;
    font-style: normal;
    text-decoration: underline;
    color: white;

}

.footer-link:hover, .footer-link:active {
    color: #5b1844;
    text-decoration: none;
    font-size: 105%;
}



@media (max-width: 900px){

    #centre {
        width: 100%;
    }

    #liste_30{
        width: 100%;
    }
    #rejouer {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #mot {
        width: 100%;
        margin: 10%
    }
    footer {
        background-color: rgba(2,0,36,1);
        position: fixed;
        bottom: 0px;
        height: 2%;
        padding: 1px;
        padding-bottom: 8px;
        width: 100%;
        left: 0%;
        font-size: 6px;
    }
    
    .footer-txt {
        padding-right: 1ch;
        font-style: normal;
        color: #ff8929;
        margin-bottom: 0px;
        font-size: 8px;
    }
    
    .footer-link {
        padding-right: 1ch;
        font-style: normal;
        text-decoration: underline;
        color: white;
        margin-bottom: 0px;
        margin-top: 8px;
        font-size: 8px;
    }

    #rejouer {
        margin-bottom: 50px;
    }

}